<dx-button (onClick)="edit()" text="edit"/>
<dx-data-grid
  [dataSource]="zooData"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true">
  <dxi-column dataField="animalName" caption="Имя животного"/>
  <dxi-column dataField="vaccinated" caption="Привит" dataType="boolean">
    <input id="html" type="checkbox">
  </dxi-column>
  <dxi-column dataField="phone" caption="Номер телефона">
    <dx-text-box [mask]="mask"/>
  </dxi-column>
  <dxi-column dataField="price" caption="Стоимость" dataType="number" format="currency"/>
  <dxi-column dataField="dataTime" caption="Дата заказа" dataType="datetime"/>
  <dxi-column cellTemplate="edit"/>
  <dxi-column cellTemplate="delete"/>
  <ng-container *dxTemplate="let id of 'edit'">
    <dx-button (onClick)="edit(id.data.id)" text="edit"/>
  </ng-container>
  <ng-container *dxTemplate="let id of 'delete'">
    <dx-button (onClick)="delete(id)" text="delete"/>
  </ng-container>
</dx-data-grid>

<ng-container *ngIf="modalVisible">
  <app-add-and-edit-modal [previousData] = "animal" (onSave)="hideModal($event)"/>
</ng-container>
